In [1]:
import turicreate as tc
import pandas as pd
import numpy as np
import random

class RecommenderClient:
    def __init__(self,data):
        # data is what is returned by Vishnu's client
        self.data = data;
        
        #the ref data is the raw data table
        ref_data = self.ref_data = pd.DataFrame.from_dict(data)
        self.num_of_choices = len(ref_data);
        
        #construct data frame that contains only the training categories
        model_data = self.model_data = ref_data[['category', 'tags']]
        model_data['index'] = model_data.index
        
        self.categories = self.model_data['category'].unique()
        
        #create turicreate SFrame
        tc_data = self.tc_data = tc.SFrame(model_data)
        
        #create model
        model = self.model = tc.recommender.item_content_recommender.create(tc_data, item_id = 'index', verbose=False)
        
        
    def cold_start(self,k=10):
        #k is the number of items to suggest. 
        #randomly suggests k items
        # returns list of indices. 
        
        suggestion_id = [random.randrange(self.num_of_choices) for _ in range(k)]
        
        return suggestion_id
        
        
    def suggest(self, k = 10, likes = [], dislikes = [], categories = []):
        #likes is the list of items that have been liked. 
        #categories is either a string matching the category, or a list of strings matching the categories
        #returns pandas dataframe with index and the score

        
        #create list of allowed items
        if categories  == []:
            allowed_index = list(range(self.num_of_choices));
        else:
            allowed_index = [i for i in range(self.num_of_choices) if self.model_data['category'][i] in categories]
            #allowed_items = tc.SFrame(allowed_index)
        
        recommendations = self.model.recommend_from_interactions(observed_items = likes,
                                                                 k=k,
                                                                 exclude=None, #dislikes,#tc.SFrame(self.model_data.iloc[dislikes]),
                                                                 items=allowed_index,
                                                                 new_user_data=None,
                                                                 new_item_data=None,
                                                                 exclude_known=True,
                                                                 diversity=0,
                                                                 random_seed=None,
                                                                 verbose=False)
        
        return recommendations

In [55]:
import pickle
import os
os.chdir('../data-import/')
if 1:
    %run main.py 
else:
    data = pickle.load( open( "london_poi.pickle", "rb" ) )
os.chdir('../recommender/')

In [56]:
data

[{'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39165, 'longitude': 2.164772},
  'name': 'Casa Batlló',
  'category': 'SIGHTS',
  'tags': ['sightseeing', 'museum', 'sights', 'landmark']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.381794, 'longitude': 2.171936},
  'name': 'La Boqueria',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.40359, 'longitude': 2.17436},
  'name': 'La Sagrada Familia',
  'category': 'SIGHTS',
  'tags': ['sightseeing', 'church', 'temple', 'sights']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38507, 'longitude': 2.16799},
  'name': 'Teresa Carles',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'vegetarian']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.395214, 'longitude': 2.161674},
  'name': 'Casa Milà',
  'category': 'SIGHTS',
  'tags': ['sightseeing', 'museum', 'sights', 'landmark']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.378918, 'longitude': 2.166202},
  'name': 'Cera 23',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39799, 'longitude': 2.161113},
  'name': 'La Pepita',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.387016, 'longitude': 2.170047},
  'name': 'Plaça de Catalunya',
  'category': 'SIGHTS',
  'tags': ['sightseeing', 'sights', 'landmark', 'historicplace', 'historic']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.37891, 'longitude': 2.17498},
  'name': 'La Rambla',
  'category': 'SIGHTS',
  'tags': ['sightseeing', 'restaurant', 'sights', 'landmark']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.392376, 'longitude': 2.160919},
  'name': 'Cervecería Catalana',
  'category': 'RESTAURANT',
  'tags': ['sightseeing', 'restaurant', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38509, 'longitude': 2.16559},
  'name': 'Flax & Kale',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'vegetarian', 'breakfast']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38874, 'longitude': 2.166787},
  'name': 'Ciudad Condal',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38827, 'longitude': 2.161573},
  'name': 'Brunch & Cake',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'vegetarian', 'breakfast']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.383263, 'longitude': 2.170465},
  'name': 'Bar Lobo',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'bar', 'nightlife', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.378067, 'longitude': 2.143385},
  'name': 'Zarautz',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'seafood', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.3911, 'longitude': 2.15112},
  'name': 'Maitea',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.390198, 'longitude': 2.156974},
  'name': 'Osmosis',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'moderncuisine']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.40042, 'longitude': 2.154638},
  'name': 'Botafumeiro',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'seafood']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.391094, 'longitude': 2.171386},
  'name': 'Alsur Café Llúria',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'fastfood', 'burger', 'breakfast', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38592, 'longitude': 2.170753},
  'name': 'Hard Rock Cafe Barcelona',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'fastfood', 'grills', 'burger']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.394436, 'longitude': 2.148031},
  'name': 'Hisop',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38691, 'longitude': 2.16112},
  'name': 'La Flauta',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.384373, 'longitude': 2.174957},
  'name': 'Bilbao Berria',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.390533, 'longitude': 2.168265},
  'name': 'El Nacional',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'steakhouse']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38928, 'longitude': 2.158733},
  'name': 'Buenos Aires Grill Restaurant',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39115, 'longitude': 2.154278},
  'name': 'Semproniana',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39001, 'longitude': 2.162315},
  'name': 'Taquerías Tamarindo',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'fastfood', 'tapas', 'taco', 'hotdogs']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.386642, 'longitude': 2.173831},
  'name': 'Taller de Tapas',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39401, 'longitude': 2.16489},
  'name': '9 Reinas',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38951, 'longitude': 2.165414},
  'name': 'Cachitos Rambla',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.400303, 'longitude': 2.150185},
  'name': 'Otto Zutz',
  'category': 'NIGHTLIFE',
  'tags': ['sightseeing', 'activities', 'events', 'club']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39445, 'longitude': 2.159812},
  'name': 'Boca Grande',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.386612, 'longitude': 2.16377},
  'name': 'University of Barcelona',
  'category': 'SIGHTS',
  'tags': ['sightseeing', 'sights']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.383766, 'longitude': 2.136083},
  'name': 'Bangkok Cafe',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'thai']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38777, 'longitude': 2.15319},
  'name': 'Disfrutar',
  'category': 'RESTAURANT',
  'tags': ['sightseeing', 'restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.382053, 'longitude': 2.173435},
  'name': 'Irati Taverna Basca',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.392727, 'longitude': 2.162408},
  'name': 'Pepito',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.396294, 'longitude': 2.160949},
  'name': 'Roca Moo',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.380104, 'longitude': 2.169061},
  'name': 'A Tu Bola',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.403824, 'longitude': 2.14803},
  'name': 'El Petit Bangkok',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'thai']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.399643, 'longitude': 2.152191},
  'name': 'Monster Sushi',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.3973, 'longitude': 2.16124},
  'name': 'Bar Mut',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'bar', 'nightlife', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.37891, 'longitude': 2.16379},
  'name': 'Sésamo',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'vegetarian', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38762, 'longitude': 2.17102},
  'name': 'El Corte Inglés',
  'category': 'RESTAURANT',
  'tags': ['sightseeing', 'shopping', 'restaurant', 'clothing']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39368, 'longitude': 2.156695},
  'name': 'Palacio del Flamenco',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.399193, 'longitude': 2.159853},
  'name': 'Con Gracia',
  'category': 'RESTAURANT',
  'tags': ['sightseeing', 'restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38906, 'longitude': 2.16924},
  'name': 'Txapela',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39143, 'longitude': 2.157128},
  'name': 'Gresca',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38938, 'longitude': 2.160512},
  'name': 'Pampero',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.3995, 'longitude': 2.16509},
  'name': 'Morryssom',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39663, 'longitude': 2.166338},
  'name': 'La Muscleria',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39371, 'longitude': 2.16484},
  'name': "Les Gens Que J'aime",
  'category': 'SIGHTS',
  'tags': ['sightseeing', 'bar']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.393177, 'longitude': 2.135397},
  'name': 'Nuba',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.392735, 'longitude': 2.15377},
  'name': 'Speakeasy',
  'category': 'RESTAURANT',
  'tags': ['sightseeing', 'restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.397587, 'longitude': 2.172321},
  'name': 'Granja Petitbo',
  'category': 'RESTAURANT',
  'tags': ['sightseeing', 'restaurant', 'breakfast', 'coffee', 'tea']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39961, 'longitude': 2.16494},
  'name': 'Ramen Ya Hiro',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'ramen']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.381912, 'longitude': 2.155721},
  'name': 'Napoletani D O C',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'fastfood', 'pizza']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.37821, 'longitude': 2.17036},
  'name': 'Suculent',
  'category': 'RESTAURANT',
  'tags': ['sightseeing', 'restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.391617, 'longitude': 2.165983},
  'name': 'Tapa Tapa',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'bar', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.405228, 'longitude': 2.173519},
  'name': 'Los Bellota',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.407837, 'longitude': 2.157798},
  'name': 'La Panxa del Bisbe',
  'category': 'RESTAURANT',
  'tags': ['sightseeing', 'restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.40493, 'longitude': 2.15959},
  'name': 'Taverna El Glop',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'barbecue']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39955, 'longitude': 2.153679},
  'name': 'La Pubilla',
  'category': 'RESTAURANT',
  'tags': ['sightseeing', 'restaurant', 'breakfast']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.40449, 'longitude': 2.17342},
  'name': 'La Paradeta',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'seafood', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38637, 'longitude': 2.159749},
  'name': 'BierCaB',
  'category': 'RESTAURANT',
  'tags': ['sightseeing', 'restaurant', 'pub', 'gastropub', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39448, 'longitude': 2.153655},
  'name': 'Chéri',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38208, 'longitude': 2.17455},
  'name': 'Taller de Tapas',
  'category': 'RESTAURANT',
  'tags': ['sightseeing', 'restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.399902, 'longitude': 2.158277},
  'name': 'Bobby Gin',
  'category': 'NIGHTLIFE',
  'tags': ['sightseeing', 'restaurant', 'bar', 'gastropub']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.395527, 'longitude': 2.163239},
  'name': 'Jaime Beriestain',
  'category': 'SHOPPING',
  'tags': ['shopping', 'restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.390152, 'longitude': 2.164232},
  'name': 'Vinitus',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38446, 'longitude': 2.1696},
  'name': "L'Ovella Negra",
  'category': 'NIGHTLIFE',
  'tags': ['shopping', 'attraction', 'restaurant', 'pub', 'liquor']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38612, 'longitude': 2.167663},
  'name': "Belushi's Barcelona",
  'category': 'NIGHTLIFE',
  'tags': ['restaurant', 'bar', 'sports']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38121, 'longitude': 2.174556},
  'name': 'Can Culleretes',
  'category': 'RESTAURANT',
  'tags': ['sightseeing', 'restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.3913, 'longitude': 2.16287},
  'name': 'Zara',
  'category': 'SHOPPING',
  'tags': ['shopping', 'clothing', 'fashion']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.406555, 'longitude': 2.160419},
  'name': 'Mi Gracia',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.40912, 'longitude': 2.155808},
  'name': 'Bar Casi',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.397995, 'longitude': 2.149289},
  'name': 'Antigua',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.3913, 'longitude': 2.146613},
  'name': 'Shibui',
  'category': 'RESTAURANT',
  'tags': ['sightseeing', 'restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.3909, 'longitude': 2.135296},
  'name': 'Negro Rojo',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38307, 'longitude': 2.166806},
  'name': "Museu d'Art Contemporani de Barcelona",
  'category': 'SIGHTS',
  'tags': ['restaurant', 'museum']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.391663, 'longitude': 2.152789},
  'name': 'Paco Meralgo',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.40401, 'longitude': 2.15662},
  'name': 'Gasterea',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.40574, 'longitude': 2.158888},
  'name': 'Cerveseria Catalluna',
  'category': 'NIGHTLIFE',
  'tags': ['bar', 'brewery']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38848, 'longitude': 2.15937},
  'name': 'Cinc Sentits',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.380196, 'longitude': 2.173294},
  'name': 'Gran Teatre del Liceu',
  'category': 'SIGHTS',
  'tags': ['sightseeing', 'restaurant', 'activities', 'events', 'sights']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39583, 'longitude': 2.149275},
  'name': 'Meatpacking Bistro',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39336, 'longitude': 2.14853},
  'name': 'Café San Telmo',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'tapas']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.391205, 'longitude': 2.136381},
  'name': 'Starbucks',
  'category': 'RESTAURANT',
  'tags': ['shopping', 'restaurant', 'coffee', 'internetcoffe', 'tea']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.397114, 'longitude': 2.155442},
  'name': 'SantaGula',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39725, 'longitude': 2.169529},
  'name': 'A Gianni',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.38058, 'longitude': 2.16096},
  'name': 'Rekons',
  'category': 'RESTAURANT',
  'tags': ['restaurant']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.380608, 'longitude': 2.167215},
  'name': 'Marmalade',
  'category': 'RESTAURANT',
  'tags': ['restaurant', 'bar', 'nightlife']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.387722, 'longitude': 2.168345},
  'name': 'City Hall',
  'category': 'SIGHTS',
  'tags': ['sightseeing', 'activities', 'events', 'club']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39318, 'longitude': 2.13886},
  'name': 'Pippermint',
  'category': 'NIGHTLIFE',
  'tags': ['activities', 'bar', 'sports', 'pub', 'club']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'geoCode': {'latitude': 41.39103, 'longitude': 2.143379},

In [3]:
rc = RecommenderClient(data)

/Users/Devansh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [4]:
rc.cold_start()

[67, 51, 7, 73, 25, 46, 62, 15, 82, 43]

In [5]:
suggestions = rc.suggest(k  = 10 , likes = [0,], dislikes=[83,64],categories=['RESTAURANT','SHOPPING'])

In [6]:
rc.ref_data.iloc[list(suggestions['index'])]

,category,geoCode,name,subType,tags,type
83,RESTAURANT,"{'latitude': 51.494324, 'longitude': -0.173618}",Daquise,POINT_OF_INTEREST,"[sightseeing, restaurant]",location
64,SHOPPING,"{'latitude': 51.49227, 'longitude': -0.158959}",Peter Jones,POINT_OF_INTEREST,"[sightseeing, shopping]",location
60,RESTAURANT,"{'latitude': 51.51464, 'longitude': -0.157891}",La Porte des Indes,POINT_OF_INTEREST,"[sightseeing, restaurant]",location
51,RESTAURANT,"{'latitude': 51.506638, 'longitude': -0.187725}",The Orangery,POINT_OF_INTEREST,"[sightseeing, restaurant]",location
36,RESTAURANT,"{'latitude': 51.501553, 'longitude': -0.174984}",Royal Geographical Society,POINT_OF_INTEREST,"[sightseeing, restaurant]",location
33,RESTAURANT,"{'latitude': 51.499073, 'longitude': -0.174051}",Ognisko Restaurant,POINT_OF_INTEREST,"[sightseeing, restaurant]",location
13,SHOPPING,"{'latitude': 51.50159, 'longitude': -0.15972}",Harvey Nichols,POINT_OF_INTEREST,"[sightseeing, shopping]",location
40,SHOPPING,"{'latitude': 51.513874, 'longitude': -0.153936}",Marks & Spencer,POINT_OF_INTEREST,"[sightseeing, shopping, clothing]",location
61,SHOPPING,"{'latitude': 51.513615, 'longitude': -0.155719}",Primark,POINT_OF_INTEREST,"[sightseeing, shopping, clothing, fashion]",location
22,RESTAURANT,"{'latitude': 51.488823, 'longitude': -0.191904}",The Troubadour,POINT_OF_INTEREST,"[sightseeing, restaurant, activities, bar]",location

In [9]:
rc.model_data['category'].unique()

array(['SIGHTS', 'RESTAURANT', 'SHOPPING', 'NIGHTLIFE'], dtype=object)

In [10]:
rc.model_data[(rc.model_data['category'] in ['SIGHTS', 'SHOPPING'])]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [11]:
any(rc.model_data['category']) in ['SIGHTS', "SHOPPING"]

False

In [12]:
allowed_index = [i for i in range(rc.num_of_choices) if rc.model_data['category'][i] in ['SIGHTS', "SHOPPING"]]

In [13]:
allowed_index

[0,
 1,
 2,
 3,
 4,
 5,
 7,
 13,
 16,
 19,
 23,
 24,
 26,
 27,
 28,
 29,
 31,
 32,
 34,
 38,
 40,
 42,
 45,
 57,
 58,
 59,
 61,
 64,
 66,
 71,
 73,
 74,
 79]

In [14]:
rc.model_data['category']

0         SIGHTS
1         SIGHTS
2         SIGHTS
3         SIGHTS
4         SIGHTS
5         SIGHTS
6     RESTAURANT
7         SIGHTS
8     RESTAURANT
9     RESTAURANT
10    RESTAURANT
11    RESTAURANT
12    RESTAURANT
13      SHOPPING
14    RESTAURANT
15    RESTAURANT
16        SIGHTS
17    RESTAURANT
18    RESTAURANT
19        SIGHTS
20    RESTAURANT
21     NIGHTLIFE
22    RESTAURANT
23        SIGHTS
24        SIGHTS
25    RESTAURANT
26        SIGHTS
27        SIGHTS
28        SIGHTS
29        SIGHTS
         ...
54    RESTAURANT
55    RESTAURANT
56    RESTAURANT
57        SIGHTS
58        SIGHTS
59        SIGHTS
60    RESTAURANT
61      SHOPPING
62    RESTAURANT
63    RESTAURANT
64      SHOPPING
65    RESTAURANT
66        SIGHTS
67    RESTAURANT
68    RESTAURANT
69    RESTAURANT
70    RESTAURANT
71        SIGHTS
72    RESTAURANT
73      SHOPPING
74        SIGHTS
75    RESTAURANT
76    RESTAURANT
77    RESTAURANT
78    RESTAURANT
79        SIGHTS
80    RESTAURANT
81    RESTAURANT
82    RESTAURANT
83    RESTAURANT
Name: category, Length: 84, dtype: object

In [15]:
rc.tc_data

Columns:
	category	str
	tags	list
	index	int

Rows: 84

Data:
+------------+-------------------------------+-------+
|  category  |              tags             | index |
+------------+-------------------------------+-------+
|   SIGHTS   | [sightseeing, artgallerie,... |   0   |
|   SIGHTS   | [sightseeing, sights, land... |   1   |
|   SIGHTS   | [sightseeing, restaurant, ... |   2   |
|   SIGHTS   | [sightseeing, shopping, re... |   3   |
|   SIGHTS   | [sightseeing, sights, land... |   4   |
|   SIGHTS   |     [sightseeing, museum]     |   5   |
| RESTAURANT |    [restaurant, nightlife]    |   6   |
|   SIGHTS   | [sightseeing, sights, park... |   7   |
| RESTAURANT |          [restaurant]         |   8   |
| RESTAURANT | [shopping, restaurant, veg... |   9   |
+------------+-------------------------------+-------+
[84 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [16]:
list(range(4))

[0, 1, 2, 3]

In [17]:
disallowed=[]

In [18]:
tc.SFrame(rc.model_data.iloc[disallowed])

Columns:
	category	float
	tags	float
	index	int

Rows: 0

Data:
	[]

In [19]:
rc.model_data.iloc[[5, 6]]

     category                     tags  index
5      SIGHTS    [sightseeing, museum]      5
6  RESTAURANT  [restaurant, nightlife]      6

In [20]:
rc.categories

array(['SIGHTS', 'RESTAURANT', 'SHOPPING', 'NIGHTLIFE'], dtype=object)

In [21]:
cat = 'SIGHTS'

In [24]:
likes = [0,1,3,4]

In [66]:
rc.model.recommend_from_interactions(observed_items = likes, new_item_data=tc_spain_data)

ToolkitError: Invalid type conversion

In [26]:
rc.tc_data

Columns:
	category	str
	tags	list
	index	int

Rows: 84

Data:
+------------+-------------------------------+-------+
|  category  |              tags             | index |
+------------+-------------------------------+-------+
|   SIGHTS   | [sightseeing, artgallerie,... |   0   |
|   SIGHTS   | [sightseeing, sights, land... |   1   |
|   SIGHTS   | [sightseeing, restaurant, ... |   2   |
|   SIGHTS   | [sightseeing, shopping, re... |   3   |
|   SIGHTS   | [sightseeing, sights, land... |   4   |
|   SIGHTS   |     [sightseeing, museum]     |   5   |
| RESTAURANT |    [restaurant, nightlife]    |   6   |
|   SIGHTS   | [sightseeing, sights, park... |   7   |
| RESTAURANT |          [restaurant]         |   8   |
| RESTAURANT | [shopping, restaurant, veg... |   9   |
+------------+-------------------------------+-------+
[84 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [30]:
rc.tc_data

Columns:
	category	str
	tags	list
	index	int

Rows: 84

Data:
+------------+-------------------------------+-------+
|  category  |              tags             | index |
+------------+-------------------------------+-------+
|   SIGHTS   | [sightseeing, artgallerie,... |   0   |
|   SIGHTS   | [sightseeing, sights, land... |   1   |
|   SIGHTS   | [sightseeing, restaurant, ... |   2   |
|   SIGHTS   | [sightseeing, shopping, re... |   3   |
|   SIGHTS   | [sightseeing, sights, land... |   4   |
|   SIGHTS   |     [sightseeing, museum]     |   5   |
| RESTAURANT |    [restaurant, nightlife]    |   6   |
|   SIGHTS   | [sightseeing, sights, park... |   7   |
| RESTAURANT |          [restaurant]         |   8   |
| RESTAURANT | [shopping, restaurant, veg... |   9   |
+------------+-------------------------------+-------+
[84 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [51]:
items = tc.SFrame({'category':['SIGHTS', 'SIGHTS', 'SIGHTS'], 'tags': [['sightseeing', 'restaurant', 'cheap'], ['cheap', 'museum'], ['landmark','vegetarian']],'index':[0,1,2]})

In [52]:
items

Columns:
	category	str
	index	int
	tags	list

Rows: 3

Data:
+----------+-------+-------------------------------+
| category | index |              tags             |
+----------+-------+-------------------------------+
|  SIGHTS  |   0   | [sightseeing, restaurant, ... |
|  SIGHTS  |   1   |        [cheap, museum]        |
|  SIGHTS  |   2   |     [landmark, vegetarian]    |
+----------+-------+-------------------------------+
[3 rows x 3 columns]

In [58]:
spain_data = pd.DataFrame.from_dict(data)[['category', 'tags']]

In [62]:
spain_data['index'] = spain_data.index

In [63]:
tc_spain_data = tc.SFrame(spain_data)

In [64]:
tc_spain_data

Columns:
	category	str
	tags	list
	index	int

Rows: 100

Data:
+------------+-------------------------------+-------+
|  category  |              tags             | index |
+------------+-------------------------------+-------+
|   SIGHTS   | [sightseeing, museum, sigh... |   0   |
| RESTAURANT |          [restaurant]         |   1   |
|   SIGHTS   | [sightseeing, church, temp... |   2   |
| RESTAURANT |    [restaurant, vegetarian]   |   3   |
|   SIGHTS   | [sightseeing, museum, sigh... |   4   |
| RESTAURANT |          [restaurant]         |   5   |
| RESTAURANT |      [restaurant, tapas]      |   6   |
|   SIGHTS   | [sightseeing, sights, land... |   7   |
|   SIGHTS   | [sightseeing, restaurant, ... |   8   |
| RESTAURANT | [sightseeing, restaurant, ... |   9   |
+------------+-------------------------------+-------+
[100 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.