In [44]:
import turicreate as tc
import pandas as pd
import numpy as np
import random

class RecommenderClient:
    def __init__(self,data):
        # data is what is returned by Vishnu's client
        self.data = data;
        
        #the ref data is the raw data table
        ref_data = self.ref_data = pd.DataFrame.from_dict(data)
        self.num_of_choices = len(ref_data);
        
        #construct data frame that contains only the training categories
        model_data = self.model_data = ref_data[['category', 'tags']]
        model_data['index'] = model_data.index
        
        self.categories = self.model_data['category'].unique()
        
        #create turicreate SFrame
        tc_data = self.tc_data = tc.SFrame(model_data)
        
        #create model
        model = self.model = tc.recommender.item_content_recommender.create(tc_data, item_id = 'index', verbose=False)
        
        
    def cold_start(self,k=10):
        #k is the number of items to suggest. 
        #randomly suggests k items
        # returns list of indices. 
        
        suggestion_id = [random.randrange(self.num_of_choices) for _ in range(k)]
        
        return suggestion_id
        
        
    def suggest(self, k = 10, likes = [], dislikes = [], categories = []):
        #likes is the list of items that have been liked. 
        #categories is either a string matching the category, or a list of strings matching the categories
        #returns pandas dataframe with index and the score

        
        #create list of allowed items
        if categories  == []:
            allowed_index = list(range(self.num_of_choices));
        else:
            allowed_index = [i for i in range(self.num_of_choices) if self.model_data['category'][i] in categories]
            #allowed_items = tc.SFrame(allowed_index)
        
        recommendations = self.model.recommend_from_interactions(observed_items = likes,
                                                                 k=k,
                                                                 exclude=None, #dislikes,#tc.SFrame(self.model_data.iloc[dislikes]),
                                                                 items=allowed_index,
                                                                 new_user_data=None,
                                                                 new_item_data=None,
                                                                 exclude_known=True,
                                                                 diversity=0,
                                                                 random_seed=None,
                                                                 verbose=False)
        
        return recommendations

In [45]:
import pickle
import os
os.chdir('../data-import/')
if 0:
    %run main.py 
else:
    data = pickle.load( open( "london_poi.pickle", "rb" ) )
os.chdir('../recommender/')

In [46]:
rc = RecommenderClient(data)

/Users/Devansh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [47]:
rc.cold_start()

[78, 69, 45, 17, 49, 78, 63, 4, 74, 64]

In [48]:
suggestions = rc.suggest(k  = 10 , likes = [0,], dislikes=[83,64],categories=['RESTAURANT','SHOPPING'])

In [49]:
rc.ref_data.iloc[list(suggestions['index'])]

,category,geoCode,name,subType,tags,type
83,RESTAURANT,"{'latitude': 51.494324, 'longitude': -0.173618}",Daquise,POINT_OF_INTEREST,"[sightseeing, restaurant]",location
64,SHOPPING,"{'latitude': 51.49227, 'longitude': -0.158959}",Peter Jones,POINT_OF_INTEREST,"[sightseeing, shopping]",location
60,RESTAURANT,"{'latitude': 51.51464, 'longitude': -0.157891}",La Porte des Indes,POINT_OF_INTEREST,"[sightseeing, restaurant]",location
51,RESTAURANT,"{'latitude': 51.506638, 'longitude': -0.187725}",The Orangery,POINT_OF_INTEREST,"[sightseeing, restaurant]",location
36,RESTAURANT,"{'latitude': 51.501553, 'longitude': -0.174984}",Royal Geographical Society,POINT_OF_INTEREST,"[sightseeing, restaurant]",location
33,RESTAURANT,"{'latitude': 51.499073, 'longitude': -0.174051}",Ognisko Restaurant,POINT_OF_INTEREST,"[sightseeing, restaurant]",location
13,SHOPPING,"{'latitude': 51.50159, 'longitude': -0.15972}",Harvey Nichols,POINT_OF_INTEREST,"[sightseeing, shopping]",location
40,SHOPPING,"{'latitude': 51.513874, 'longitude': -0.153936}",Marks & Spencer,POINT_OF_INTEREST,"[sightseeing, shopping, clothing]",location
61,SHOPPING,"{'latitude': 51.513615, 'longitude': -0.155719}",Primark,POINT_OF_INTEREST,"[sightseeing, shopping, clothing, fashion]",location
22,RESTAURANT,"{'latitude': 51.488823, 'longitude': -0.191904}",The Troubadour,POINT_OF_INTEREST,"[sightseeing, restaurant, activities, bar]",location

In [7]:
rc.model_data['category'].unique()

array(['SIGHTS', 'RESTAURANT', 'SHOPPING', 'NIGHTLIFE'], dtype=object)

In [8]:
rc.model_data[(rc.model_data['category'] in ['SIGHTS', 'SHOPPING'])]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
any(rc.model_data['category']) in ['SIGHTS', "SHOPPING"]

In [ ]:
allowed_index = [i for i in range(rc.num_of_choices) if rc.model_data['category'][i] in ['SIGHTS', "SHOPPING"]]

In [ ]:
allowed_index

In [ ]:
rc.model_data['category']

In [ ]:
rc.tc_data

In [ ]:
list(range(4))

In [20]:
disallowed=[]

In [21]:
tc.SFrame(rc.model_data.iloc[disallowed])

Columns:
	category	float
	tags	float
	index	int

Rows: 0

Data:
	[]

In [15]:
rc.model_data.iloc[[5, 6]]

     category                     tags  index
5      SIGHTS    [sightseeing, museum]      5
6  RESTAURANT  [restaurant, nightlife]      6