In [5]:
import pickle
import turicreate as tc
import pandas as pd
import numpy as np

In [2]:
import os
os.chdir('../data-import/')
if 0:
    %run main.py 
else:
    data = pickle.load( open( "london_poi.pickle", "rb" ) )
os.chdir('../recommender/')

In [7]:
df = pd.DataFrame.from_dict(data)

In [9]:
df.head()

,category,geoCode,name,subType,tags,type
0,SIGHTS,"{'latitude': 51.496395, 'longitude': -0.171935}",Victoria and Albert Museum,POINT_OF_INTEREST,"[sightseeing, artgallerie, museum, sights, lan...",location
1,SIGHTS,"{'latitude': 51.500996, 'longitude': -0.177414}",Royal Albert Hall,POINT_OF_INTEREST,"[sightseeing, sights, landmark, historicplace]",location
2,SIGHTS,"{'latitude': 51.496143, 'longitude': -0.174409}",Natural History Museum,POINT_OF_INTEREST,"[sightseeing, restaurant, museum, cheap]",location
3,SIGHTS,"{'latitude': 51.499092, 'longitude': -0.162348}",Harrods,POINT_OF_INTEREST,"[sightseeing, shopping, restaurant]",location
4,SIGHTS,"{'latitude': 51.506935, 'longitude': -0.179232}",Kensington Gardens,POINT_OF_INTEREST,"[sightseeing, sights, landmark, historicplace,...",location

In [32]:
df2 = df[ ['category', 'tags']]
df2['index'] = df2.index

/Users/Devansh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [33]:
df2.head()

  category                                               tags  index
0   SIGHTS  [sightseeing, artgallerie, museum, sights, lan...      0
1   SIGHTS     [sightseeing, sights, landmark, historicplace]      1
2   SIGHTS           [sightseeing, restaurant, museum, cheap]      2
3   SIGHTS                [sightseeing, shopping, restaurant]      3
4   SIGHTS  [sightseeing, sights, landmark, historicplace,...      4

In [34]:
item_data = tc.SFrame(df2)

In [35]:
item_data

Columns:
	category	str
	tags	list
	index	int

Rows: 84

Data:
+------------+-------------------------------+-------+
|  category  |              tags             | index |
+------------+-------------------------------+-------+
|   SIGHTS   | [sightseeing, artgallerie,... |   0   |
|   SIGHTS   | [sightseeing, sights, land... |   1   |
|   SIGHTS   | [sightseeing, restaurant, ... |   2   |
|   SIGHTS   | [sightseeing, shopping, re... |   3   |
|   SIGHTS   | [sightseeing, sights, land... |   4   |
|   SIGHTS   |     [sightseeing, museum]     |   5   |
| RESTAURANT |    [restaurant, nightlife]    |   6   |
|   SIGHTS   | [sightseeing, sights, park... |   7   |
| RESTAURANT |          [restaurant]         |   8   |
| RESTAURANT | [shopping, restaurant, veg... |   9   |
+------------+-------------------------------+-------+
[84 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [36]:
m = tc.recommender.item_content_recommender.create(item_data, item_id = 'index', verbose=True)

Applying transform:
Class             : AutoVectorizer

Model Fields
------------
Features          : ['category', 'tags']
Excluded Features : ['index']

Column    Type  Interpretation  Transforms  Output Type
--------  ----  --------------  ----------  -----------
category  str   categorical     None        str
tags      list  categorical     Flatten     dict


Defaulting to brute force instead of ball tree because there are multiple distance components.

Starting brute force nearest neighbors model training.

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1            | 84      | 1.19048     | 1.234ms      |

| Done         |         | 100         | 2.075ms      |

+--------------+---------+-------------+--------------+

Preparing data set.

    Data has 0 observations with 0 users and 84 items.

    Data prepared in: 0.054177s

Loading user-provided nearest items.

Generating candidate set for working with new users.

Finished training in 0.001327s

In [31]:
m

Class                            : ItemContentRecommender

Schema
------
User ID                          : __implicit_user__
Item ID                          : index
Target                           : None
Additional observation features  : 0
User side features               : []
Item side features               : ['category', 'type', 'index']

Statistics
----------
Number of observations           : 0
Number of users                  : 0
Number of items                  : 84

Training summary
----------------
Training time                    : 0.003

Model Parameters
----------------
Model class                      : ItemContentRecommender
threshold                        : 0.0001
similarity_type                  : cosine
training_method                  : auto

Other Settings
--------------
degree_approximation_threshold   : 4096
max_data_passes                  : 4096
max_item_neighborhood_size       : 64
nearest_neighbors_interaction_proportion_threshold : 0.05
seed_item_set_size               : 50
sparse_density_estimation_sample_size : 4096
target_memory_usage              : 8589934592

In [74]:
import random

In [129]:
likes = [random.randrange(len(data)) for _ in range(5)]

In [130]:
recs = m.recommend_from_interactions(likes)
recs_list = list(recs['index'])
recommendations = df.iloc[recs_list]
recommendations['score'] = recs['score']

/Users/Devansh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [122]:
df[['name','category', 'tags']].iloc[likes]

                      name    category                           tags
32  Royal Hospital Chelsea      SIGHTS  [sightseeing, museum, sights]
46             Carluccio's  RESTAURANT         [shopping, restaurant]
10      The Churchill Arms  RESTAURANT             [restaurant, thai]
20               Roti Chai  RESTAURANT         [restaurant, fastfood]
72           Bombay Palace  RESTAURANT         [restaurant, fastfood]

/Users/Devansh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [126]:
recommendations[['score','name','category', 'tags', 'geoCode']]

,score,name,category,tags,geoCode
77,0.650000,Bosphorus Kebabs,RESTAURANT,"[restaurant, fastfood]","{'latitude': 51.49296, 'longitude': -0.176227}"
53,0.612132,Rocca di Papa,RESTAURANT,[restaurant],"{'latitude': 51.4929, 'longitude': -0.17651}"
52,0.612132,Zafferano,RESTAURANT,[restaurant],"{'latitude': 51.499184, 'longitude': -0.157539}"
50,0.612132,The Swan,RESTAURANT,[restaurant],"{'latitude': 51.511513, 'longitude': -0.176875}"
49,0.612132,Khan's,RESTAURANT,[restaurant],"{'latitude': 51.515568, 'longitude': -0.189636}"
48,0.612132,Serpentine Bar & Kitchen,RESTAURANT,[restaurant],"{'latitude': 51.504974, 'longitude': -0.159903}"
43,0.612132,Petrus,RESTAURANT,[restaurant],"{'latitude': 51.49957, 'longitude': -0.156896}"
15,0.612132,Amaya,RESTAURANT,[restaurant],"{'latitude': 51.499287, 'longitude': -0.157143}"
12,0.612132,Restaurant Gordon Ramsay,RESTAURANT,[restaurant],"{'latitude': 51.485832, 'longitude': -0.161966}"
11,0.612132,Le Gavroche,RESTAURANT,[restaurant],"{'latitude': 51.51143, 'longitude': -0.155106}"

In [135]:
data[0]

{'type': 'location',
 'subType': 'POINT_OF_INTEREST',
 'geoCode': {'latitude': 51.496395, 'longitude': -0.171935},
 'name': 'Victoria and Albert Museum',
 'category': 'SIGHTS',
 'tags': ['sightseeing', 'artgallerie', 'museum', 'sights', 'landmark']}