In [14]:
import turicreate as tc
sf = tc.SFrame({'user_id': ["0", "0", "0", "1", "1", "2", "2", "2"],
                          'item_id': ["a", "b", "c", "a", "b", "b", "c", "d"]})
m = tc.item_similarity_recommender.create(sf)
nn = m.get_similar_items()

Preparing data set.

    Data has 8 observations with 3 users and 4 items.

    Data prepared in: 0.007057s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 1.253ms                        | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 1.715ms                             | 37.5             | 1               |

| 3.555ms                             | 100              | 4               |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.005564s

In [4]:
sf

Columns:
	item_id	str
	user_id	str

Rows: 8

Data:
+---------+---------+
| item_id | user_id |
+---------+---------+
|    a    |    0    |
|    b    |    0    |
|    c    |    0    |
|    a    |    1    |
|    b    |    1    |
|    b    |    2    |
|    c    |    2    |
|    d    |    2    |
+---------+---------+
[8 rows x 2 columns]

In [5]:
nn

Columns:
	item_id	str
	similar	str
	score	float
	rank	int

Rows: 10

Data:
+---------+---------+--------------------+------+
| item_id | similar |       score        | rank |
+---------+---------+--------------------+------+
|    a    |    b    | 0.6666666865348816 |  1   |
|    a    |    c    | 0.3333333134651184 |  2   |
|    b    |    a    | 0.6666666865348816 |  1   |
|    b    |    c    | 0.6666666865348816 |  2   |
|    b    |    d    | 0.3333333134651184 |  3   |
|    c    |    b    | 0.6666666865348816 |  1   |
|    c    |    d    |        0.5         |  2   |
|    c    |    a    | 0.3333333134651184 |  3   |
|    d    |    c    |        0.5         |  1   |
|    d    |    b    | 0.3333333134651184 |  2   |
+---------+---------+--------------------+------+
[10 rows x 4 columns]

In [35]:
item_data = tc.SFrame({"my_item_id" : range(4),
                           "data_1" : [ ['cats', 0], [1, 0], [0, 1], [0.5, 0.5] ],
                           "data_2" : [ [0, 1], [1, 0], [0, 1], [0.5, 0.5] ] })

In [36]:
item_data

Columns:
	data_1	list
	data_2	array
	my_item_id	int

Rows: 4

Data:
+------------+------------+------------+
|   data_1   |   data_2   | my_item_id |
+------------+------------+------------+
| [cats, 0]  | [0.0, 1.0] |     0      |
|   [1, 0]   | [1.0, 0.0] |     1      |
|   [0, 1]   | [0.0, 1.0] |     2      |
| [0.5, 0.5] | [0.5, 0.5] |     3      |
+------------+------------+------------+
[4 rows x 3 columns]

In [37]:
m = tc.recommender.item_content_recommender.create(item_data, item_id = 'my_item_id', verbose=True)

Applying transform:
Class             : AutoVectorizer

Model Fields
------------
Features          : ['data_1', 'data_2']
Excluded Features : ['my_item_id']

Column  Type   Interpretation  Transforms  Output Type
------  -----  --------------  ----------  -----------
data_1  list   categorical     Flatten     dict
data_2  array  vector          None        array


Defaulting to brute force instead of ball tree because there are multiple distance components.

Starting brute force nearest neighbors model training.

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1            | 4       | 25          | 834us        |

| Done         |         | 100         | 993us        |

+--------------+---------+-------------+--------------+

Preparing data set.

    Data has 0 observations with 0 users and 4 items.

    Data prepared in: 0.045765s

Loading user-provided nearest items.

Generating candidate set for working with new users.

Finished training in 0.000946s

In [38]:
m.recommend_from_interactions([0,2])

Columns:
	my_item_id	int
	score	float
	rank	int

Rows: 2

Data:
+------------+-------------------+------+
| my_item_id |       score       | rank |
+------------+-------------------+------+
|     3      | 0.530330091714859 |  1   |
|     1      |        0.0        |  2   |
+------------+-------------------+------+
[2 rows x 3 columns]